extends main

block content
  h3 Name: #{profile.displayName}
  h3 Nickname: #{profile.nickname}
  h3 Email: #{profile.emails[0].value}
  - if (profile.photoUrl) {
    img(src="#{photoUrl}", width='100px')
  - } else if (typeof profile.photos !== 'undefined' && profile.photos[0] !== null && profile.photos[0].value) {
    img(src="#{profile.photos[0].value}", width='100px')
  - }