extends main

block append scripts
  script(src="/js/view-enroll-pzp.js", type="text/javascript")
  script(src="/js/go-home.js", type="text/javascript")

block header
  h3 Enrol new device into your personal zone

block content
  img(src="/images/#{deviceType}.png", width='100px')
  h3  #{friendlyName}
  p  
    | Are you sure that you want to enrol the device you are currently using into
    | your personal zone ( #{user.emails[0].value} ) ?
  p 
    | This device will be given full access to all other parts of your personal
    | zone, including files, your location information and your application data.
  // pzpPort, authcode, user, pzhPort, pzhAddress, csrf
  input(type="button", onclick="enrol(#{pzpPort}, '#{user.emails[0].value}', #{port}, '#{address}', '#{_csrf}' )", value="Yes, please enrol this device")
  input(type="button", onclick="goHome()", value="No, thanks.")
  input(type="button", onclick="goHome()", value="I'm not sure what's going on")}
